
:root {
  --navFooterBg: #f87171;
  --bodyBg: #bfdbfe;
  --shopMenuBg: #dbeafe;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;

  font-family: 'Ubuntu', sans-serif;
}

/*##########################################################
  NAVIGATION
*/

.navigation {
  width: 100%;
  min-height: 10vh;

  background-color: var(--navFooterBg);
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  color: white;
}

.navTitle {
  font-size: 2rem;
}

.nav-rightSide {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.3rem;
}

.link {
  text-decoration: none;
  color: white;
}

/*##########################################################
  BODY
*/

.appBody, .shopBody {
  min-height: 85vh;
  width: 100%;

  background-color: var(--bodyBg);
}

.appBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carWheelDiv {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.carWheelDiv > img {
  width: 50%;
  height: 50%;
}

/*##########################################################
  SHOP BODY
*/

.shopBody {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.shopMenu {
  background-color: var(--shopMenuBg);

  min-height: 85vh;
  width: 25vw;

  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 100px 20px;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

li {
  cursor: pointer;
}

.productCard {
  margin: 0;
  padding: 20px;
  width: 200px;
  height: 300px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px 10px;

  background-color: var(--shopMenuBg);
}

.productCard:hover {
  box-shadow: 5px 5px grey;
  cursor: pointer;
}

.imgContainer {
  width: 100%;
  height: 50%;
}

.imgContainer > img {
  width: 100%;
  height: 100%;

  margin-bottom: 0;
}

.products {
  min-height: 85vh;
  width: 75vw;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

button {
  cursor: pointer;

  padding: 10px;
  border-radius: 5px;
  background-color: var(--navFooterBg);
  color: white;

  border: 1px solid white;
}

button:hover {
  transform: scale(1.03);
}

button:active {
  transform: scale(0.8);
}

/*##########################################################
  CART DIV
*/

.cartDiv {
  height: 100vh;
  width: 15vh;
  z-index: 3;
}

/*##########################################################
  FOOTER
*/

.footer {
  width: 100%;
  min-height: 5vh;
  bottom: 0;
  position: fixed;

  background-color: var(--navFooterBg);

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  color: white;
}

.github-mark {
  width: 32px;
  height: 32px;
}